@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <link href="~/lib/owl/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owl/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <partial name="_BackgroundImageStylesPartial" model="Model.Banner" />
}

@*banner section start*@
<div class="row" id="background-img"></div>
@*banner section end*@


@*slider section start*@
<div class="row">
    <div class="col-sm-12">
        <div class="search float-left">
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" id="book-search" type="text" placeholder="Search books...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12" style="height: 400px;">
        <div class="owl-carousel">
            @foreach (var slide in Model.Slider)
            {
                <div class="row px-2">
                    <div class="col-6 col-sm-8">
                        <h2>@slide.Title</h2>
                        @foreach (var author in slide.Authors)
                        {
                            <a asp-controller="author" asp-action="details" asp-route-id="@author.Author.Id"
                               class="text-primary ml-1">@author.Author.Fullname</a>
                        }
                        <br />
                        @foreach (var cat in slide.Categories)
                        {
                            <a asp-controller="category" asp-action="details" asp-route-id="@cat.Category.Id"
                               class="btn btn-outline-secondary mt-3">@cat.Category.Name</a>
                        }
                        <p class="text-secondary mt-2">
                            @(slide.Description?.Length > 300 ?
                                                                                                                                                                              slide.Description.Substring(0, 200) + "..." : slide.Description)
                        </p>
                        <a asp-controller="book" asp-action="details" asp-route-id="@slide.Id"
                           class="btn btn-outline-success position-absolute mt-5 mt-sm-0" style="bottom: 30px; right: 20px;">See details</a>
                    </div>
                    <div class="col-6 col-sm-4">
                        <a asp-controller="book" asp-action="details" asp-route-id="@slide.Id">
                            <img src="@slide.DefaultImage" class="img-thumbnail" style="height: 300px; object-fit: contain;" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*slider section end*@

@*most viewed books section start*@
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center font-weight-bold mb-3">Most viewed books</h3>
        <div class="most-viewed-container d-flex justify-content-around flex-wrap">
            <partial name="_BooksPartial" model="Model.MostViewedBooks" />
        </div>
    </div>
</div>
@*most viewed books section end*@

@*most commented books section start*@
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center font-weight-bold mb-3 mt-5">Most commented books</h3>
        <div class="most-viewed-container d-flex justify-content-around flex-wrap">
            <partial name="_BooksPartial" model="Model.MostCommentedBooks" />
        </div>
    </div>
</div>
@*most commented books section end*@

@*most favorite books section start*@
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center font-weight-bold mb-3 mt-5">Most favorite books</h3>
        <div class="most-viewed-container d-flex justify-content-around flex-wrap">
            <partial name="_BooksPartial" model="Model.MostFavoriteBooks" />
        </div>
    </div>
</div>
@*most favorite books section end*@

@*most rated books section start*@
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center font-weight-bold mb-3 mt-5">Most rated books</h3>
        <div class="most-viewed-container d-flex justify-content-around flex-wrap">
            @foreach (var book in Model.MostRatedBooks)
            {
                <div class="book-item mb-3">
                    <div class="card" style="width: 18rem;">
                        <a asp-controller="book" asp-action="details" asp-route-id="@book.Id">
                            <img class="card-img-top" style="height: 350px; object-fit: contain;"
                                 src="@book.DefaultImage" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text" style="min-height: 50px;">
                                @(book.Description?.Length > 90 ?
                                                                                                                  book.Description.Substring(0, 90) + "..." : book.Description)
                            </p>
                            <p class="text-info text-center">Average rating: @book.AvgRating.ToString("#.##")</p>
                            <a asp-controller="book" asp-action="details" asp-route-id="@book.Id"
                               class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*most rated books section end*@

@section scripts{
    <script src="~/lib/owl/dist/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                autoplay: true,
                items: 1,
                autoplayHoverPause: true
            });

            $(document).on("keyup", "#book-search", function () {
                $('.ui.search')
                    .search({
                        type: 'category',
                        searchOnFocus: false,
                        minCharacters: 3,
                        apiSettings: {
                            onResponse: function (result) {
                                var response = {
                                    results: {}
                                };
                                // translate API response to work with search
                                $.each(result.items, function (index, item) {
                                    var category = item.category || 'Unknown';
                                    var maxResult = 6;
                                    if (index >= maxResult) {
                                        return false;
                                    }
                                    // create new category
                                    if (response.results[category] === undefined) {
                                        response.results[category] = {
                                            name: category,
                                            results: []
                                        };
                                    }
                                    // add result to category
                                    response.results[category].results.push({
                                        title: item.title,
                                        description: item.description,
                                        url: item.url,
                                        image: item.image
                                    });
                                });
                                return response;
                            },
                            url: '/search/books?q=' + $(this).val()
                        }
                    });
            });
        })
    </script>
}