@model BooksListViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ui pagination menu">
    @if (Model.PageCount > 5)
    {
        @if (Model.CurrentPage + 5 > Model.PageCount)
        {
            for (int i = Model.PageCount - 5; i <= Model.PageCount; i++)
            {
                <a class="item @(Model.CurrentPage == i ? "active" : "page")">
                    @i
                </a>
            }
        }
        else
        {
            for (int i = Model.CurrentPage; i <= Model.CurrentPage + 5; i++)
            {
                @if (i == Model.CurrentPage + 4)
                {
                    <div class="disabled item">
                        ...
                    </div>
                }
                else if (i == Model.CurrentPage + 5)
                {
                    <a class="item @(Model.CurrentPage == Model.PageCount ? "active" : "page")">
                        @Model.PageCount
                    </a>
                }
                else
                {
                    if (Model.CurrentPage > 1 && i == Model.CurrentPage)
                    {
                        <a class="item page">
                            @(Model.CurrentPage - 1)
                        </a>
                    }
                    <a class="@(Model.CurrentPage == i ? "active" : "page") item">
                        @(i)
                    </a>
                }
            }
        }
    }
    else
    {
        for (int i = 1; i <= Model.PageCount; i++)
        {
            <a class="item @(Model.CurrentPage == i ? "active" : "page")">
                @i
            </a>
        }
    }
</div>