@model IEnumerable<Google.Apis.Books.v1.Data.Volume>

@foreach (var book in Model)
{
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            @*<img class="card-img-top" src="@book.VolumeInfo.ImageLinks.Thumbnail" alt="Card image cap">*@
            <div class="card-body">
                <h5 class="card-title">@book.VolumeInfo.Title</h5>
                <p class="card-text">@book.VolumeInfo.Description</p>
                <a href="#" class="btn btn-primary">@book.VolumeInfo.PageCount</a>
                @foreach (var cat in book.VolumeInfo.Authors)
                {
                    <p>Category: @cat</p>
                }
            </div>
        </div>
    </div>
}
